@typeparam Titem

@if (list is null)
{
    @*  <p>loading movies...</p> *@

    @if (Loading is null)
    {
        <p>loading movies...</p>
    }
    else
    {
        @Loading
    }

}
else if (list.Count == 0)
{
    @*  <p>No movies availables</p> *@
    @if (NoRecords is null)
    {
        <p>No movies availables</p>
    }
    else
    {
        @NoRecords
    }

}
else
{
    @foreach (var item in list)
    {
        @HaveRecord(item)
    }
}

@code {
    [Parameter]
    public RenderFragment Loading { get; set; } = null!;

    [Parameter]
    public RenderFragment NoRecords { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> HaveRecord { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> list { get; set; } = null!;

}
