@typeparam Titem

@if (List is null)
{
    @*  <p>loading movies...</p> *@

    @if (Loading is null)
    {
        <p>loading movies...</p>
    }
    else
    {
        @Loading
    }

}
else if (List.Count == 0)
{
    @*  <p>No movies availables</p> *@
    @if (NoRecords is null)
    {
        <p>No movies availables</p>
    }
    else
    {
        @NoRecords
    }

}
else
{
    if (HaveRecord is not null)
    {
        @foreach (var item in List)
        {
            @HaveRecord(item)
        }
    } 
}

@code {
    [Parameter]
    public RenderFragment Loading { get; set; } = null!;

    [Parameter]
    public RenderFragment NoRecords { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> HaveRecord { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> HaveRecordComplete { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> List { get; set; } = null!;

}
