<div>
      <p>
    Title: <b>@Movie.Title</b>
    @if (DateTime.Today.Subtract(Movie.DateLaunch).Days <= 14)
    {
    <span style="color: orangered"> (new!)</span>
    }
    </p>
    <p>Date launch: <b> @Movie.DateLaunch.ToString("yyyy MMM dd") </b></p>
    <div>
        <button @onclick="DeleteMovie">Delete</button>
    </div>
</div>


@code {
    [Parameter]
    [EditorRequired]
    public Movie Movie { get; set; } = null!;

    void DeleteMovie()
    {
        Console.WriteLine($"Deleting movie {Movie.Title}");
    }
}
