@page "/genders/create"

<h3>Create Genders</h3>

<FormGender Gender="Gender" OnValidSubmit="Create"></FormGender>

@code {
    private Gender Gender = new Gender();

    private void Create()
    {
        
    }
}
