@page "/genders/edit/{GenderId:int}"
@inject NavigationManager navigationManager

<h3>Edit Genders</h3>
 
<FormGender @ref="formGender" Gender="Gender" OnValidSubmit="Edit"></FormGender>
 
@code {
    [Parameter] public int GenderId { get; set; }
    private Gender? Gender;
    private FormGender? formGender;

    protected override void OnInitialized()
    {
        Gender = new Gender() { Id = GenderId, Name = "Comedy" }; 
    }

    private void Edit()
    {
        formGender!.FormPostedSuccess = true;
        navigationManager.NavigateTo("genders");
    }
}
