@page "/genders"
@inject IRepository repository

<h3>Genders</h3>

<div class="mb-3">
    <a class="btn btn-info" href="genders/create">Add Gender</a>
</div>

<ListadoGenerico List="Genders">
    <HaveRecordsComplete>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Genders!)
                {
                    <tr>
                        <a href="/genders/edit/@item.Id" class="btn btn-success">Edit</a>
                        <a class="btn btn-danger">Delete</a>
                    </tr>
                    <td>
                        @item.Name
                    </td>
                }
            </tbody>
        </table>
    </HaveRecordsComplete>
</ListadoGenerico>

@code {
    public List<Gender>? Genders { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var answerHttp = await repository.Get<List<Gender>>("api/genders");
        Genders = answerHttp.Response!;
    }
}
