@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<FormMovie Movie="Movie" OnValidSubmit="Create"></FormMovie>

@code {
    private Movie Movie = new Movie();

    void Create()
    {
        Console.WriteLine(navigationManager.BaseUri);
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movie");
    }
}
