@page "/movies/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Create Movie</h3>

@if (ShowForm)
{
    <FormMovie Movie="Movie" OnValidSubmit="Create" GendersNoSelecteds="GendersNoSelected">
    </FormMovie>
}
else
{
    <p>cargando...</p>
}

@code {
    private Movie Movie = new Movie();
    private List<Gender> GendersNoSelected = new List<Gender>();
    public bool ShowForm { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Gender>>("api/genders");
        // GendersNoSelected = new List<Gender>()
        // {
        //     new Gender(){Id = 1, Name = "Fiction"},
        //     new Gender(){Id = 2, Name = "Action"},
        //     new Gender(){Id = 3, Name = "Comedy"}
        // };
        GendersNoSelected = responseHttp.Response!;
        Console.WriteLine("get api/genders");
        ShowForm = true;
    }

    async Task Create()
    {
        // Console.WriteLine(navigationManager.BaseUri);
        // Console.WriteLine(navigationManager.Uri);
        // navigationManager.NavigateTo("movie");
        Console.WriteLine("create method");
        var httpResponse = await repository.PostAsync<Movie, int>("api/movies", Movie);

        if (httpResponse.Error)
        {
            var errormessage = await httpResponse.GetMessageError();
            await swal.FireAsync("Error", errormessage, SweetAlertIcon.Error);
        }
        else
        {
            var movieId = httpResponse.Response;
            navigationManager.NavigateTo($"/movie/{movieId}/{Movie.Title.Replace(" ", "-")}");
        }
    }
}
