@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<FormMovie Movie="Movie" OnValidSubmit="Create"></FormMovie>

@code {
    private Movie Movie = new Movie();
    private List<Gender> GendersNoSelected = new List<Gender>();

    protected override void OnInitialized()
    {
        GendersNoSelected = new List<Gender>()
        {
            new Gender(){Id = 1, Name = "Fiction"},
            new Gender(){Id = 1, Name = "Action"},
            new Gender(){Id = 1, Name = "Comedy"}
        };
    }

    void Create()
    {
        Console.WriteLine(navigationManager.BaseUri);
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movie");
    }
}
