@page "/movies/edit/{MovieId:int}"

<h3>Edit Movie</h3>

<FormMovie Movie="Movie" OnValidSubmit="Edit"></FormMovie>

@code {
    [Parameter] public int MovieId { get; set; }

    private Movie Movie = new Movie();

    protected override void OnInitialized()
    {
        Movie = new Movie { Id = MovieId, Title = "My movie" };
    }

    private void Edit()
    {
        Console.WriteLine("editing movie...");

    }
}
