@page "/actores/create"

<h3>Create Actor</h3>

<FormActor OnValidSubmit="Create" Actor="Actor">

</FormActor>

@code {
    private Actor Actor = new Actor();

    void Create()
    {
        Console.WriteLine("crear actor");
    }
}
