@page "/actors/edit/{ActorId:int}"

<h3>Edit Actor</h3>

<FormActor Actor="Actor" OnValidSubmit="Edit"></FormActor>

@code {
    [Parameter] public int ActorId { get; set; }
    Actor Actor = new Actor();

    protected override void OnInitialized()
    {
        Actor = new Actor
            {
                Id = ActorId,
                Name = "Dani",
                DateBirth = DateTime.Today
            };
    }

    void Edit()
    {
        Console.WriteLine("Edit actor");
    }
}
